<div class="sidenav">
  <div class="login-main-text">
    <h2>Desafio Pitang<br> Login Page</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form  [formGroup]="loginForm" >
        <div class="row d-grid gap-3">
          <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="login" id="login" class="form-control" placeholder="User Name">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password"  id="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div style="margin-top: 10px;">
          <button type="submit" class="btn btn-black" (click)="onLogin()">Login</button>

          <button type="submit" class="btn btn-secondary" [routerLink]="['/user/userform']">Register</button>

        </div>

      </form>
    </div>
  </div>
</div>
